.title {
    text-align: center;
    margin-bottom: var(--space-md);
}

.projects{      
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media(min-width: 768px){
    .projects{      
        grid-template-columns: repeat(2, 1fr);
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        gap: 1rem;
    }
}
@media(min-width: 1240px){
    .projects{
        grid-template-columns: repeat(4, 1fr);
        margin-left: 0rem;
        margin-right: 0rem;
        gap: 2rem;
    }
}