.rectangle{
    isolation: isolate;
    align-self: center;
    align-items: center;
	width: 75%;
	height: 7rem;
    background: rgb(23, 1, 101);

    box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem rgba(86, 86, 86, 0.5);
    -moz-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem rgba(86, 86, 86, 0.5);
    -webkit-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem rgba(86, 86, 86, 0.5);

    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    border-radius: 4px;
}

.inRectangle {
    text-align: center;
}

.imgprojects {
    border-radius: 0.3rem;
    padding: 1rem;
    max-height: 30%;
    max-width: 60%;
}

.filterWhite {
    filter: invert(99%);
}

.filterGray {
    filter: invert(50%);
}

.h1 {
    font-size: large;
}

.projectsContent{      
    padding-left: 2rem;
    padding-right: 2rem;
}

@media(max-width: 950px){
    .rectangle {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 15px;
        grid-template-columns: repeat(2, 1fr);
        height: 200px;
    }

    .navbar-menu.is-active {
        background-color:transparent;
    }

    .colortest {
        padding: 1rem;
    }
    .projectsContent p{
        text-align: justify;
    }
}

@media(max-width: 768px) {
    .projectsContent{      
        padding-left: 0.25rem;
        padding-right: 0.25rem;
    }

    .imgprojects {
        max-height: 30%;
        max-width: 100%;
    }
}