.hero {
    text-align: center;
    margin-bottom: 4rem;
    
}

.avatar {
    border-radius: 50%;
    border: 3px solid #6366f1;
    margin-bottom: 1.5rem;
    margin: auto;
}

.title {
    font-size: var(--title);
    margin-top: var(--space-md);
    margin-bottom: var(--space-md);
}

.subtitle {
    margin-top: 0.5rem;
    color: #94a3b8;
}