nav {
    width: 100%;
}
head {
    width: 100%;
    padding: 0;
}

img {
    border-radius: 2rem;
    padding: 2rem;
}

strong {
    font-weight: normal;
}

.rectangle{
    isolation: isolate;
    align-self: center;
    align-items: center;
	width: 75%;
	height: 7rem;
    background: rgb(248, 237, 225);

    box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem var(--shadow-color);
    -moz-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem var(--shadow-color);
    -webkit-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem var(--shadow-color);

    margin-top: 3.5rem;
    margin-bottom: 3.5rem;
    margin-left: 2rem;
    margin-right: 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.inRectangle {
    text-align: center;
}

.imgprojects {
    border-radius: 0.3rem;
    padding: 1rem;
    max-height: 30%;
    max-width: 60%;
}

h1,
h2,
h3,
h4,
p {
    color:black;
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

.titreProjet {
    padding: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.projectsContent {
    text-align: center;
    justify-content: center;
    padding-left: 9rem;
    padding-right: 9rem;
}

.colortest {
    isolation: isolate;
    background-color: rgb(248, 237, 225);
    padding: 2rem;

    box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem var(--shadow-color);
    -moz-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem var(--shadow-color);
    -webkit-box-shadow: 0.3rem 0.2rem 0.5rem 0.1rem var(--shadow-color);
}


.navbar-menu {
    background-color: transparent;
}

.navbar {
    background-color: transparent;
}
.navbar-end {
    align-items: center;
}

footer {
    z-index: 1;
    position: relative;
    background-color: transparent;
    padding: 5rem;
    text-align: center;
}


@media (max-width: 1400px){
    .projectsContent {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .imgprojects {
        max-height: 35%;
        max-width: 80%;
    }
}


@media(max-width: 950px){
    .rectangle {
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 15px;
        grid-template-columns: repeat(2, 1fr);
        height: 200px;
    }

    .navbar-menu.is-active {
        background-color:transparent;
    }

    .colortest {
        padding: 1rem;
    }
    .projectsContent p{
        text-align: justify;
    }
}

@media(max-width: 768px) {
    .projectsContent{      
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .imgprojects {
        max-height: 30%;
        max-width: 100%;
    }
}
